@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body{
  background-color: #353535;
}

html{
  color: white;
  scroll-behavior: smooth;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

button{
  padding: 6px 10px;
  background-color: #6d6d6d;
}